.header-component {

    .promotion-container {
        width: 100%;
        height: 50px;
        background-color: var(--light-lav);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 6rem;
        font-size: 16px;
        font-weight: 300;

        span {
            font-weight: 600;
        }
    }

    .global-header-container{
        width: 100%;
        height: 64px;
        background: #fff;
        box-shadow: var(--box-shadow);
        padding: 0 6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo-container {
            display: flex;
            column-gap: 10px;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;

            img {
                width: 35px;
                height: 35px;
            }

            p {
                font-size: 32px;
                color: var(--black);
                font-weight: 600;
                margin: 0;
            }
        }

        .header-category-container {
            display: flex;
            column-gap: 52px;
            align-items: center;
            justify-content: flex-start;

            .home-global-head {
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                color: var(--black);

                &:hover {
                    text-decoration: none;
                }
            }

            .dropdown-toggle {
                background: none;
                border: none;
                outline: none;
                color: var(--black);
                font-size: 16px;
                font-weight: 600;
            }

        }

        .div-drop {
            position: relative;

            p {
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
                margin: 0;

                span {
                    margin-left: 4px;
                }
            }

            .menu-dropdown-container {
                width: fit-content;
                height: fit-content;
                box-shadow: var(--box-shadow);
                border-radius: 8px;
                position: absolute;
                z-index: 2;
                top: 48px;
                left: -18rem;
                background: var(--white);
                display: none;
                padding: 12px 28px;
            }
        }
    }
    
    .login-elements {
        display: flex;
        justify-content: space-between;

        .login-con {
            cursor: pointer;
            font-weight: 400;
        }

        .currency {
            cursor: pointer;
            font-weight: 400;
        }

        .dropdown-toggle {
            background: none;
            border: none;
            outline: none;
            color: var(--black);
        }
    }

    .login-dropdown, .currency-dropdown {
        width: fit-content;
        height: fit-content;
        position: fixed;
        z-index: 10;
        top: 75px;
        right: 8rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        border-radius: 8px;
        display: none;

        .login, .signup, .inr, .usd {
            width: 100%;
            height: fit-content;
            padding: 12px 44px;
            cursor: pointer;
            font-weight: 400;

            &:hover {
                background: var(--light-lav);
            }
        }
    }

    .currency-dropdown {
        right: 6%;
    }

    .login-dropdown {
        right: 20%;
    }

    .header-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 32px;

        i {
            font-size: 18px;
            cursor: pointer;
        }

        .btn {
            background: none !important;
            background-color: none !important;
            border: none;
            color: var(--black);
        }

        .dropdown-item {
            &:hover {
                background: var(--light-lav) !important;
            }

            &:active {
                background: var(--light-lav) !important;

                li a {
                    color: var(--black) !important;
                }
            }
        }

        span {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            color: var(--white);
            background: var(--red);
            display: block;
            position: absolute;
            top: -6px;
            left: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
        }
    }

}

.dropdownanimate {
    animation: dropdown 1s forwards;
    display: block !important;
}

.dropdownmenuanimate {
    animation: dropdown 1s forwards;
    display: flex !important;
}


@keyframes dropdown {
    0% {
        top: 75px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 45px;
    }
}