.applied-filters {
    width: 75%;
    height: 50px;

    .heading {
        font-size: 14px;
        color: var(--black);
    }

    .applied-filter-items {
        display: flex;
        column-gap: 18px;

        .applied-filter-item {
            font-size: 14px;
            width: fit-content;
            height: fit-content;
            padding: 8px 16px;
            border-radius: 20px;
            border: 1px solid #c7ced5;
            background: var(--light-lav);
            box-shadow: var(--box-shadow);

            i {
                font-size: 14px;
            }

            span {
                margin-top: -4px;
            }
        }
    }
}

.plp-filters-section-div {
    height: 100px;
}

.products-view {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    button {
        border: none;
        background: none;
        background: var(--white);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 20px;
        }

        &.active {
            background: var(--blue);
            color: var(--white);
            box-shadow: var(--box-shadow-blue);
        }
    }

    .grid-view {
        transform: rotate(90deg);
    }
}

.productTiles-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.new-arrivals-main-container {
    padding: 0 5rem;
    width: 100%;

    .slick-track {
        display: flex;
        column-gap: 24px;
    }

    .slick-dots {
        bottom: -45px;
    }

    .slick-dots li button:before {
        font-size: 10px;
        content: '';
        background: gray;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        opacity: 1;
    }

    .slick-dots li.slick-active {
        width: 55px;
    }

    .slick-dots li.slick-active button:before {
        color: var(--blue);
        opacity: 1;
        width: 55px;
        border-radius: 25px;
        background: var(--blue);
    }

    .slick-prev:before, .slick-next:before {
        font-size: 34px;
        color: var(--black);
    }

    .heading-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 22px;

        h3 {
            font-size: 30px;
            font-weight: 600;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: gray;
        }
    }
}

.categories-list-div {
    width: 100%;
    padding: 0 5rem;
    margin-top: 90px;
    margin-bottom: 30px;

    .heading-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 22px;

        h3 {
            font-size: 30px;
            font-weight: 600;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: gray;
        }
    }

    .our-categories-main-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;

        img {
            width: 100%;
            aspect-ratio: 9/6;
            cursor: pointer;
        }
    }

    .desc-of-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;

        p {
            width: 100%;
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            margin: 14px 0;
        }
    }
}

.deal-of-the-day-con {
    width: 100%;
    padding: 3rem 6rem;
    padding-bottom: 0;

    .deal-item {
        width: 100%;
        aspect-ratio: 16/9;
        background-image: url('../src//img//images//dealoftheDay.jpg');
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .offer-display-card {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: fit-content;
            height: fit-content;
            padding: 18px 24px;
            background: var(--blue);
            border: 1px solid var(--blue);
            color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 28px;
                font-weight: 600;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 6px;
            }
        }
    }

    .deal-of-the-day-countdown {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 24px;
            font-weight: 600;
            color: var(--black);
        }

        p {
            font-size: 16px;
            color: gray;
            font-weight: 400;
            margin-bottom: 60px;
        }

        .count-down-container {
            display: flex;
            column-gap: 16px;

            .days {
                background: var(--white);
                width: 90px;
                height: 90px;
                color: var(--black);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 8px;
                box-shadow: var(--box-shadow);

                .count {
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }
}

.offers-for-you-container {
    padding: 3rem 6rem;
    width: 100%;
    height: 650px;

    .heading-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 22px;

        h3 {
            font-size: 30px;
            font-weight: 600;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: gray;
        }
    }

    .men-offer {
        /* width: 100%; */
        background-image: url('../src/img/images/offers/menshirts.jpg');
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .jeans-offer {
        /* width: 100%; */
        background-image: url('../src/img/images/offers/jeans.jpg');
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .tshirts-offer {
        /* width: 100%; */
        background-image: url('../src/img/images/offers/tshirts.jpg');
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .hoodie-offer {
        /* width: 100%; */
        background-image: url('../src/img/images/offers/hoodie.jpg');
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .offer-display-card {
        width: fit-content;
        height: fit-content;
        padding: 18px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--white);
        background: var(--blue);
        border: 1px solid var(--blue);
        margin-bottom: 40px;

        h3 {
            font-size: 16px;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .offer-details-div {
        margin-right: 18px;

        h3 {
            font-size: 38px;
            font-weight: 600;
        }

        p {
            font-size: 20px;
            font-weight: 600;
            color: var(--blue);
            width: 100%;
        }

        .shop {
            width: fit-content;
            height: fit-content;
            padding: 12px 24px;
            color: var(--white);
            background: var(--blue);
            cursor: pointer;
            margin-left: auto;
        }

        .shop2 {
            margin-right: auto !important;
            margin-left: 0;
        }
    }

}